.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  gap: 30px;
  justify-items: center;
  margin: 20px auto;
}

.content-left, .content-right {
  width: 90%;
  min-height: 400px;
  background: rgba(255, 255,255, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(255,255,255,0.1);
  border: solid 1px rgba(255, 255,255, 0.3);
  border-right: solid 1px rgba(255, 255,255, 0.1);
  border-bottom: solid 1px rgba(255, 255,255, 0.1);
  padding: 10px;
  box-sizing: border-box;
}

