.TodoSearch {
    font-family: 'Montserrat';
    width: 90%;
    height: 30px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255,255, 0.5);
    border-right: solid 1px rgba(255, 255,255, 0.1);
    border-bottom: solid 1px rgba(255, 255,255, 0.1);
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  }
  
  .TodoSearch::placeholder {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch:focus {
    outline-color: rgba(255,255,255, 0.2);
  }