.card {
  font-family: 'Montserrat';
  width: 90%;
  height: 30px;
  border: none;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: solid 1px rgba(255, 255,255, 0.5);
  border-right: solid 1px rgba(255, 255,255, 0.1);
  border-bottom: solid 1px rgba(255, 255,255, 0.1);
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s ease;
}

.card:hover {
  background: rgba(255, 255, 255, 0.4);
}

.card__content {
  background: rgb(246, 246, 248);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: 80%;
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}
