  
.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
}

.Icon-container-check {
  color: white;
}
  
.Icon-container-check--active {
  color: #57e075;
}


.Icon-svg {
  width: 200%;
  height: 100%;
}

.Icon-container-delete:hover .Icon-svg {
  fill:  #e95814;
} 

.Icon-container-check:hover .Icon-svg {
  fill:  #57e075;
} 
